body {
    margin: 0;
}

.container {
    max-width: 1360px;
    margin-left: auto;
    margin-right: auto;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.d-none {
    display: none;
}